name: pull_request

on:
  push:
    branches:
    - 'master'
  pull_request:

jobs:
  test:
    name: Tests
    runs-on: ubuntu-18.04
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.4.0
      with:
        access_token: ${{ github.token }}
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Go 1.18.2
      uses: actions/setup-go@v1
      with:
        go-version: 1.18.2
    - uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go
    - uses: azure/setup-kubectl@v1
      with:
        version: 'v1.18.0'
    - uses: engineerd/setup-kind@v0.5.0
    - name: Run tests
      run: |
        go install github.com/onsi/ginkgo/ginkgo@v1.16 && export PATH=$PATH:$(go env GOPATH)/bin/
        ginkgo  -r   -p   -failFast   -randomizeSuites   -randomizeAllSpecs   -skipPackage=./installutils/kubeinstall,./debugutils/test
